<!--每个人负责的代码都写在这里-->
<!--把全部功能写完并测试无误后再推送到远程库-->
<!--这个库开始认真写代码了，请认真对待！-->

<div class="events">
		<div class="container">
		<div class="event-grids">
			<div class="col-md-4 upcoming">
				<h3>Upcoming Events</h3>
				<div class="upcoming1">
				<div class="family">
					<div class="twenty">
						<h4>20</h4>
						<p>JULY</p>
					</div>
					<div class="sunday">
						<h5>Morbi nunc odio</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.It has survived not only five centuries </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="family">
					<div class="twenty">
						<h4>30</h4>
						<p>AUG</p>
					</div>
					<div class="sunday">
						<h5>Morbi nunc odio</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.It has survived not only five centuries </p>
					</div>
					
						<div class="clearfix"> </div>
				</div>
				<div class="family">
					<div class="twenty">
						<h4>28</h4>
						<p>NOV</p>
					</div>
					<div class="sunday">
						<h5>Morbi nunc odio</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.It has survived not only five centuries</p>
					</div>
					
						<div class="clearfix"> </div>
				</div>
				</div>
			</div>
			<div class="col-md-8 furniture">
				<h3>furniture</h3>
				<div class="furniture-girds">
					<div class="col-md-6 furniture-grid">
					<a href="#" class="mask">
					<div class="fur1">
					<%= image_tag "f1.jpg", class: "img-responsive zoom-img" %>
						</div></a>
					<a href="#" class="mask">
					<div class="fur2">
					<%= image_tag "f2.jpg", class: "img-responsive zoom-img" %>
						</div></a>
				</div>
				<div class="col-md-6 furniture-grid">
				<a href="#" class="mask">
					<div class="fur1">
					<%= image_tag "f3.jpg", class: "img-responsive zoom-img" %>
						</div></a>
					<a href="#" class="mask">
					<div class="fur2">
					<%= image_tag "f4.jpg", class: "img-responsive zoom-img" %>
						</div></a>
				</div>
					<div class="clearfix"></div>
			</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>























<!-- Volunteers -->

<div class="team">
	<div class="container">
		<div class="second-head">
			<h3>Volunteers</h3>
		  </div>
		<div class="team-top">
			<div class="col-md-3 team-grid">
				<%= image_tag "t1.jpg", class: "img-responsive" %>
				<h4>Kimberly Thompson</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			
				<ul class="social-contacts">
					<li><a href="#" title=""><%= image_tag "facebook.jpg" %></a></li>
					<li><a href="#" title=""><%= image_tag "gplus.jpg" %></a></li>
					<li><a href="#" title=""><%= image_tag "pinterest.jpg" %></a></li>
				</ul>
			
			</div>
			<div class="col-md-3 team-grid">
				<%= image_tag "t2.jpg", class: "img-responsive" %>
				<h4>Rico Massimo</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			
				<ul class="social-contacts">
					<li><a href="#" title=""><%= image_tag "facebook.jpg" %></a></li>
					<li><a href="#" title=""><%= image_tag "gplus.jpg" %></a></li>
					<li><a href="#" title=""><%= image_tag "pinterest.jpg" %></a></li>
				</ul>
			
			</div>
			<div class="col-md-3 team-grid">
				<%= image_tag "t3.jpg", class: "img-responsive" %>
				<h4>Uku Mason</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			
				<ul class="social-contacts">
					<li><a href="#" title=""><%= image_tag "facebook.jpg" %></a></li>
					<li><a href="#" title=""><%= image_tag "gplus.jpg" %></a></li>
					<li><a href="#" title=""><%= image_tag "pinterest.jpg" %></a></li>
				</ul>
			
			</div>
			<div class="col-md-3 team-grid">
				<%= image_tag "t4.jpg", class: "img-responsive" %>
				<h4>Uku Loona</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			
				<ul class="social-contacts">
					<li><a href="#" title=""><%= image_tag "facebook.jpg" %></a></li>
					<li><a href="#" title=""><%= image_tag "gplus.jpg" %></a></li>
					<li><a href="#" title=""><%= image_tag "pinterest.jpg" %></a></li>
				</ul>
			
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>




<!-- Events  end-->